{% extends 'base.html' %} {% block header %}
<h1>{% block title %}Edit Goal{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post">
  <label for="title">Title</label>
  <input
    name="title"
    id="title"
    value="{{ request.form.get('title', goal.title) }}"
    required
  />

  <label for="description">Description</label>
  <textarea name="description" id="description">
{{ request.form.get('description', goal.description) }}</textarea
  >

  <label for="due_date">Due Date</label>
  <input
    type="date"
    name="due_date"
    id="due_date"
    value="{{ request.form.get('due_date', goal.due_date) }}"
  />

  <div class="checkbox">
    <input type="checkbox" name="is_completed" id="is_completed" {% if
    request.form.get('is_completed') or goal.is_completed %}checked{% endif %}
    />
    <label for="is_completed">Completed</label>
  </div>

  <input type="submit" value="Save" />
</form>

<hr />

<form action="{{ url_for('goals.delete', id=goal.id) }}" method="post">
  <input
    class="danger"
    type="submit"
    value="Delete"
    onclick="return confirm('Are you sure?');"
  />
</form>
{% endblock %}
